<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop 
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/context 
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/tx 
                            http://www.springframework.org/schema/tx/spring-tx.xsd">
     <!--add beans-->
    <bean id="userDao" class="au.com.w4u.medo.dao.impl.UserDaoImpl">
    </bean>
    
    <bean id="userService" class="au.com.w4u.medo.service.impl.UserServiceImpl">
    </bean>
    
    <!--add beans-->
    <bean id="roleDao" class="au.com.w4u.medo.dao.impl.RoleDaoImpl">
    </bean>
    
    <bean id="roleService" class="au.com.w4u.medo.service.impl.RoleServiceImpl">
    </bean>
    
    <!--add beans-->
    <bean id="rescDao" class="au.com.w4u.medo.dao.impl.RescDaoImpl">
    </bean>
    
    <bean id="rescService" class="au.com.w4u.medo.service.impl.RescServiceImpl">
    </bean>
</beans>
